@import 'utility';
@import './base/settings';
@import './base/base';
@import './components/header';
@import './components/button';
@import './components/widget';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: #333745;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
